################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.pdb
*.dll
Colt/bin/Debug/Cern.Colt.pdb
Colt/bin/Debug/Cern.Colt.dll
Colt.Tests/obj/Debug/Colt.Tests.pdb
Colt.Tests/obj/Debug/Colt.Tests.dll
Colt.Tests/obj/Debug/Colt.Tests.csprojAssemblyReference.cache
Colt.Tests/obj/Debug/Colt.Tests.csproj.FileListAbsolute.txt
Colt.Tests/obj/Debug/Colt.Tests.csproj.CoreCompileInputs.cache
Colt.Tests/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Colt.Tests/bin/Debug/Colt.Tests.pdb
Colt.Tests/bin/Debug/Colt.Tests.dll
Colt.Tests/bin/Debug/Cern.Colt.pdb
Colt.Tests/bin/Debug/Cern.Colt.dll
*.pdb
*.dll
Colt/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Colt/obj/Debug/Cern.Colt.csproj.CoreCompileInputs.cache
Colt/obj/Debug/Cern.Colt.csproj.FileListAbsolute.txt
Colt/obj/Debug/Cern.Colt.csproj.GenerateResource.cache
Colt/obj/Debug/Cern.Colt.csprojAssemblyReference.cache
Colt/obj/Debug/Cern.Colt.dll
Colt/obj/Debug/Cern.Colt.pdb
Colt/obj/Debug/Cern.Properties.Resources.resources
Colt/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Colt/obj/Debug/Cern.Colt.csproj.FileListAbsolute.txt
Colt/obj/Debug/Cern.Colt.csproj.GenerateResource.cache
Colt/obj/Debug/Cern.Colt.csprojAssemblyReference.cache
Colt/obj/Debug/Cern.Colt.dll
Colt/obj/Debug/Cern.Colt.pdb
Colt/obj/Debug/Cern.Properties.Resources.resources
/Colt/bin/Debug/Cern.Colt.pdb
/Colt/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Colt/obj/Debug/Cern.Colt.csproj.AssemblyReference.cache
/Colt.Tests/bin/Debug/Colt.Tests.pdb
/Colt.Tests/bin/Debug/Colt.Tests.dll
/Colt.Tests/bin/Debug/Cern.Colt.pdb
/Colt.Tests/bin/Debug/Cern.Colt.dll
